body {
    margin: 100px;
  background: rgb(91, 33, 92);  
  font-family: sans-serif;   
}

h1 {
  text-align: center;     
}

#guest-form {
  display: flex;  
  justify-content: center;
  margin-bottom: 21px;
}

#guest-name {
  padding: 1cap;
  width: 200px; 
  margin-right: 0px;
}

button {
  padding: 8px 12px;
  border-radius: 0px;
}

#guest-list {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
}

.guest-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid ;
  margin-bottom: 8px;
}
 
